:host {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  max-height: 97vh;
  overflow-x: auto;  
}

h2 {
  align-self: center;
  text-align: center;
  width: 96%;
  border-bottom: 2px solid rgb(71, 77, 95);
  padding-bottom: 2px;
  margin-bottom: 6px;
}