:host {
  display:grid;
  min-height: calc(98vh - 10px);
  /** todo calculat based on columns */
  min-width: 400vw;
  overflow-y: scroll;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 12px;
  margin: 5px;
}

