:host {
  display: block;
  position: relative;
  background-color: var(--accent);
  padding: 3px 8px;
  border-radius: 5px;
  margin: 0 3px 4px;
  overflow: hidden;
}

:host.collapsed {
  height: 27px;
  min-height: 1rem;
}
:host::after {
  position: absolute;
  top: 4px;
  right: 5px;
  display: block;
  cursor: pointer;
}
:host.collapsed::after {
  content: "◄";
}
:host:not(.collapsed)::after {
  content: "▼";
}
